h1 {
  font-size: 28px;
}
#logo {
  float: left;
  font-weight: 700;
}
#nav {
  width: 96%;
  padding: 20px 2%;
  background-color: rgba(243, 184, 30, 0.9);
  color: white;
  z-index: 10;
  overflow: auto;
  position: fixed;
}
#nav ul {
 /* float: right;*/
}
#nav li {
  float: left;
  padding-right: 20px;
}